@font-face {
	font-family: PuHuiTiThin;
    src: url('./AlibabaPuHuiTi-2-35-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiLight;
    src: url('./AlibabaPuHuiTi-2-45-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiRegular;
    src: url('./AlibabaPuHuiTi-2-55-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiMedium;
    src: url('./AlibabaPuHuiTi-2-65-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiSemiBold;
    src: url('./AlibabaPuHuiTi-2-75-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiExtraBold;
    src: url('./AlibabaPuHuiTi-2-95-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiHeavy;
    src: url('./AlibabaPuHuiTi-2-105-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiBlack;
    src: url('./AlibabaPuHuiTi-2-115-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: PuHuiTiBold;
    src: url('./AlibabaPuHuiTi-2-85-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}