//统计分析首页样式模版

.appo {
    overflow: auto;
}

.appi {
    margin: 20px;
    min-width: 1220px;

    .part1 {
       // background: #e4e6ed;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 0px 12px 0px #00000005;
        border-radius: 5px;
        overflow: hidden;
    }

    .part2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .part2item {
           // background: #e4e6ed;
            flex: 1;
            margin-right: 20px;
            min-width: 386px;
            box-shadow: 0px 0px 12px 0px #00000005;
            border-radius: 5px;
            overflow: hidden;
        }

        .part2item:last-child {
            margin-right: 0px;
        }
    }

    .part3 {
        display: flex;
        justify-content: center;
        align-items: center;

        .part3item {
            flex: 1.5;
            margin-right: 20px;
          //  background: #e4e6ed;
            box-shadow: 0px 0px 12px 0px #00000005;
            border-radius: 5px;
            overflow: hidden;
        }

        .part3item:last-child {
            flex: 1;
            margin-right: 0px;
        }
    }

    .part4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .part4item {
            flex: 0.98;
            margin-right: 20px;
          //  background: #e4e6ed;
            box-shadow: 0px 0px 12px 0px #00000005;
            border-radius: 5px;
            overflow: hidden;
        }

        .part4item:last-child {
            flex: 2;
            margin-right: 0px;
        }
    }

    .part5 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .part5item {
            flex: 1;
            margin-right: 20px;
          //  background: #e4e6ed;
            box-shadow: 0px 0px 12px 0px #00000005;
            border-radius: 5px;
            overflow: hidden;
        }

        .part5item:last-child {
            flex: 2.04;
            margin-right: 0px;
        }
    }

    .part6 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .part6item {
            flex: 2.04;
            margin-right: 20px;
         //   background: #e4e6ed;
            box-shadow: 0px 0px 12px 0px #00000005;
            border-radius: 5px;
            overflow: hidden;
        }

        .part6item:last-child {
            flex: 1;
            margin-right: 0px;
        }
    }

    .part7 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .part7item {
          //  background: #e4e6ed;
            flex: 1;
            margin-right: 20px;
            height: 90px;
            cursor: pointer;
            font-size: 30px;
            line-height: 90px;
            color: #fff;
            box-shadow: 0px 0px 12px 0px #00000005;
            border-radius: 5px;
            overflow: hidden;
            text-align: center;
        }

        .part7item:last-child {
            margin-right: 0px;
        }
    }
}